USE [master]
GO
/****** Object:  Database [DryCleanShopDB]    Script Date: 24/12/2025 11:47:45 م ******/
CREATE DATABASE [DryCleanShopDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DryCleanShopDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DryCleanShopDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DryCleanShopDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DryCleanShopDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DryCleanShopDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DryCleanShopDB]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 24/12/2025 11:47:45 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[CustomerID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Phone] [nvarchar](20) NULL,
	[Address] [nvarchar](255) NULL,
	[CreatedAt] [datetime] NOT NULL,
	[CreatedBy] [int] NOT NULL,
 CONSTRAINT [PK_Customers] PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Invoices]    Script Date: 24/12/2025 11:47:45 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoices](
	[InvoiceID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NOT NULL,
	[PaidAmount] [decimal](18, 0) NOT NULL,
	[PaymentDate] [datetime] NOT NULL,
	[CreatedBy] [int] NOT NULL,
 CONSTRAINT [PK_Invoices] PRIMARY KEY CLUSTERED 
(
	[InvoiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Items]    Script Date: 24/12/2025 11:47:45 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Items](
	[ItemID] [int] IDENTITY(1,1) NOT NULL,
	[ItemName] [nvarchar](150) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[Createdby] [int] NOT NULL,
 CONSTRAINT [PK_Items] PRIMARY KEY CLUSTERED 
(
	[ItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Logs]    Script Date: 24/12/2025 11:47:45 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Logs](
	[LogID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[ActionType] [nvarchar](50) NOT NULL,
	[TableName] [nvarchar](50) NOT NULL,
	[RecordID] [int] NOT NULL,
	[ActionDate] [datetime] NOT NULL,
 CONSTRAINT [PK_Logs] PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 24/12/2025 11:47:45 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[DetailID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NOT NULL,
	[ItemID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[ServiceID] [int] NOT NULL,
	[PricePerItem] [decimal](18, 0) NOT NULL,
	[SubTotal] [decimal](18, 0) NOT NULL,
 CONSTRAINT [PK_Table_1] PRIMARY KEY CLUSTERED 
(
	[DetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 24/12/2025 11:47:45 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[OrderDate] [datetime] NOT NULL,
	[Status] [int] NOT NULL,
	[TotalAmount] [decimal](18, 0) NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 24/12/2025 11:47:45 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Service]    Script Date: 24/12/2025 11:47:45 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Service](
	[ServiceID] [int] IDENTITY(1,1) NOT NULL,
	[ServiceName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Service] PRIMARY KEY CLUSTERED 
(
	[ServiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ServicePrice]    Script Date: 24/12/2025 11:47:45 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServicePrice](
	[ServicePriceID] [int] IDENTITY(1,1) NOT NULL,
	[ItemID] [int] NOT NULL,
	[ServiceID] [int] NOT NULL,
	[Price] [decimal](18, 0) NOT NULL,
	[DateStart] [datetime] NOT NULL,
 CONSTRAINT [PK_ServicePrice] PRIMARY KEY CLUSTERED 
(
	[ServicePriceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Status]    Script Date: 24/12/2025 11:47:45 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Status](
	[StatueID] [int] IDENTITY(1,1) NOT NULL,
	[Statue] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Status] PRIMARY KEY CLUSTERED 
(
	[StatueID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 24/12/2025 11:47:45 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Phone] [nvarchar](10) NOT NULL,
	[PasswordHash] [nvarchar](100) NOT NULL,
	[Role] [int] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[isDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Users]    Script Date: 24/12/2025 11:47:45 م ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Users] ON [dbo].[Users]
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF__Users__isDeleted__17F790F9]  DEFAULT ((0)) FOR [isDeleted]
GO
ALTER TABLE [dbo].[Customers]  WITH CHECK ADD  CONSTRAINT [FK_Customers_Users] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Customers] CHECK CONSTRAINT [FK_Customers_Users]
GO
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD  CONSTRAINT [FK_Invoices_Orders] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
GO
ALTER TABLE [dbo].[Invoices] CHECK CONSTRAINT [FK_Invoices_Orders]
GO
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD  CONSTRAINT [FK_Invoices_Users] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Invoices] CHECK CONSTRAINT [FK_Invoices_Users]
GO
ALTER TABLE [dbo].[Items]  WITH CHECK ADD  CONSTRAINT [FK_Items_Users] FOREIGN KEY([Createdby])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Items] CHECK CONSTRAINT [FK_Items_Users]
GO
ALTER TABLE [dbo].[Logs]  WITH CHECK ADD  CONSTRAINT [FK_Logs_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Logs] CHECK CONSTRAINT [FK_Logs_Users]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_Table_1_Items] FOREIGN KEY([ItemID])
REFERENCES [dbo].[Items] ([ItemID])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_Table_1_Items]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_Table_1_Orders] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_Table_1_Orders]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_Table_1_Service] FOREIGN KEY([ServiceID])
REFERENCES [dbo].[Service] ([ServiceID])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_Table_1_Service]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Customers] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([CustomerID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Customers]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Status] FOREIGN KEY([Status])
REFERENCES [dbo].[Status] ([StatueID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Status]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Users] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Users]
GO
ALTER TABLE [dbo].[ServicePrice]  WITH CHECK ADD  CONSTRAINT [FK_ServicePrice_Items] FOREIGN KEY([ItemID])
REFERENCES [dbo].[Items] ([ItemID])
GO
ALTER TABLE [dbo].[ServicePrice] CHECK CONSTRAINT [FK_ServicePrice_Items]
GO
ALTER TABLE [dbo].[ServicePrice]  WITH CHECK ADD  CONSTRAINT [FK_ServicePrice_Service] FOREIGN KEY([ServiceID])
REFERENCES [dbo].[Service] ([ServiceID])
GO
ALTER TABLE [dbo].[ServicePrice] CHECK CONSTRAINT [FK_ServicePrice_Service]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Roles] FOREIGN KEY([Role])
REFERENCES [dbo].[Roles] ([RoleID])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Roles]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Users] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Users]
GO
/****** Object:  StoredProcedure [dbo].[AddUser]    Script Date: 24/12/2025 11:47:45 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREate   PROCEDURE [dbo].[AddUser]
    @Username NVARCHAR(50),
    @Name NVARCHAR(50),
    @Phone NVARCHAR(10),
    @PasswordHash NVARCHAR(100),
    @Role INT,
    @CreatedBy INT,
    @NewUserID INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    -- إضافة المستخدم[dbo].[SP_AddUser]
    INSERT INTO Users (Username, Name, Phone, PasswordHash, Role, CreatedBy, CreatedAt)
    VALUES (@Username, @Name, @Phone, @PasswordHash, @Role, @CreatedBy, GETDATE());

    -- إرجاع رقم المستخدم الجديد
    SET @NewUserID = SCOPE_IDENTITY();

    -- تسجيل العملية في جدول Logs
    INSERT INTO Logs (ActionType, TableName, RecordID, UserID, ActionDate)
    VALUES (
        'AddUser',
        'Users',
        @NewUserID,
        @CreatedBy,
        GETDATE()
    );
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_AddCustomer]    Script Date: 24/12/2025 11:47:45 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_AddCustomer]
    @Name NVARCHAR(100),
    @Phone NVARCHAR(20) = NULL,
    @Address NVARCHAR(255) = NULL,
    @CreatedBy INT,
    @NewCustomerID INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO Customers (Name, Phone, Address, CreatedAt, CreatedBy)
    VALUES (@Name, @Phone, @Address, GETDATE(), @CreatedBy);

    -- إرجاع رقم العميل الجديد في الـ Output Parameter
    SET @NewCustomerID = SCOPE_IDENTITY();

	-- تسجيل العملية في جدول Logs
    INSERT INTO Logs (ActionType, TableName, RecordID, UserID, ActionDate)
    VALUES ('AddCustomer', 'Customers', @NewCustomerID, @CreatedBy, GETDATE());
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_AddInvoice]    Script Date: 24/12/2025 11:47:45 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_AddInvoice]
    @OrderID INT,
    @PaidAmount DECIMAL(18,0),
    @PaymentDate DATETIME,
    @CreatedBy INT,
    @NewInvoiceID INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    -- إضافة الفاتورة
    INSERT INTO Invoices (OrderID, PaidAmount, PaymentDate, CreatedBy)
    VALUES (@OrderID, @PaidAmount, @PaymentDate, @CreatedBy);

    -- إرجاع رقم الفاتورة الجديدة
    SET @NewInvoiceID = SCOPE_IDENTITY();

    -- تسجيل العملية في جدول Logs
    INSERT INTO Logs (ActionType, TableName, RecordID, UserID, ActionDate)
    VALUES ('AddInvoice', 'Invoices', @NewInvoiceID, @CreatedBy, GETDATE());
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_AddItem]    Script Date: 24/12/2025 11:47:45 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_AddItem]
    @ItemName NVARCHAR(100),
    @CreatedBy INT,
    @NewItemID INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    -- إضافة الآيتم
    INSERT INTO Items (ItemName, CreatedBy, CreatedAt)
    VALUES (@ItemName, @CreatedBy, GETDATE());

    -- إرجاع رقم الآيتم الجديد
    SET @NewItemID = SCOPE_IDENTITY();

    -- تسجيل العملية في جدول Logs
    INSERT INTO Logs (ActionType, TableName, RecordID, UserID, ActionDate)
    VALUES (
        'AddItem',
        'Items',
        @NewItemID,
        @CreatedBy,
        GETDATE()
    );
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_AddLog]    Script Date: 24/12/2025 11:47:45 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_AddLog]
    @ActionType NVARCHAR(100),   -- نوع العملية (AddCustomer, UpdateCustomer, DeleteOrder...)
    @TableName NVARCHAR(100),    -- اسم الجدول (Customers, Orders, Services...)
    @RecordID INT,               -- رقم السجل اللي اتأثر
    @UserID INT                 -- المستخدم اللي نفذ العملية
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO Logs (ActionType, TableName, RecordID, UserID, ActionDate)
    VALUES (@ActionType, @TableName, @RecordID, @UserID, GETDATE());
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_AddOrder]    Script Date: 24/12/2025 11:47:45 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_AddOrder]
    @CustomerID INT,
    @CreatedBy INT,
    @StatusID INT,
	@TotalAmount decimal(18, 0),
    @NewOrderID INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    -- إضافة الأوردر الرئيسي
    INSERT INTO Orders (CustomerID, OrderDate, Status, CreatedBy, TotalAmount)
    VALUES (@CustomerID, GETDATE(), @StatusID, @CreatedBy, @TotalAmount);

    SET @NewOrderID = SCOPE_IDENTITY();

    -- تسجيل العملية في جدول Logs
    INSERT INTO Logs (ActionType, TableName, RecordID, UserID, ActionDate)
    VALUES ('AddOrder', 'Orders', @NewOrderID, @CreatedBy, GETDATE());
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_AddOrderDetail]    Script Date: 24/12/2025 11:47:45 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_AddOrderDetail]
    @OrderID INT,
	@ItemID INT,
    @ServiceID INT,
    @Quantity INT,
    @PricePerItem DECIMAL(18,2),
	@CreatedBy INT,
    @NewDetailID INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    -- إضافة تفاصيل الأوردر
    INSERT INTO OrderDetails (OrderID, ServiceID, Quantity, PricePerItem, ItemID, SubTotal)
    VALUES (@OrderID, @ServiceID, @Quantity, @PricePerItem, @ItemID, @Quantity * @PricePerItem);

    -- إرجاع رقم السجل الجديد
    SET @NewDetailID = SCOPE_IDENTITY();

    -- تسجيل العملية في جدول Logs
    INSERT INTO Logs (ActionType, TableName, RecordID, UserID, ActionDate)
    VALUES (
        'AddOrderDetail',
        'OrderDetails',
        @NewDetailID,
        @CreatedBy,
        GETDATE()
    );
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_AddServicePrice]    Script Date: 24/12/2025 11:47:45 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_AddServicePrice]
    @ItemID INT,
    @ServiceID INT,
    @Price DECIMAL(18,0)
AS
BEGIN
    SET NOCOUNT ON;

    -- إضافة السعر الجديد
    INSERT INTO ServicePrice (ItemID, ServiceID, Price, DateStart)
    VALUES (@ItemID, @ServiceID, @Price, GETDATE());
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_CheckItemNameExists]    Script Date: 24/12/2025 11:47:45 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_CheckItemNameExists]
    @SearchName NVARCHAR(100),
    @IsFound BIT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    -- البحث عن أي آيتم مشابه للاسم المدخل
    IF EXISTS (
        SELECT 1 
        FROM Items
        WHERE ItemName LIKE '%' + @SearchName + '%'
    )
        SET @IsFound = 1;
    ELSE
        SET @IsFound = 0;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_CheckUsernameExists]    Script Date: 24/12/2025 11:47:45 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_CheckUsernameExists]
    @Username NVARCHAR(50),
    @IsFound BIT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (
        SELECT 1 
        FROM Users
        WHERE Username = @Username
          AND isDeleted = 0
    )
        SET @IsFound = 1;
    ELSE
        SET @IsFound = 0;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_DeleteOrderDetail]    Script Date: 24/12/2025 11:47:45 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_DeleteOrderDetail]
    @OrderDetailID INT,
    @DeletedBy INT,
    @IsDeleted BIT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    -- تحقق إن تفاصيل الأوردر موجودة
    IF NOT EXISTS (SELECT 1 FROM OrderDetails WHERE DetailID = @OrderDetailID)
    BEGIN
        SET @IsDeleted = 0;
        RETURN;
    END

    -- حذف تفاصيل الأوردر
    DELETE FROM OrderDetails
    WHERE DetailID = @OrderDetailID;

    SET @IsDeleted = 1;

    -- تسجيل العملية في جدول Logs
    INSERT INTO Logs (ActionType, TableName, RecordID, UserID, ActionDate)
    VALUES (
        'DeleteOrderDetail',
        'OrderDetails',
        @OrderDetailID,
        @DeletedBy,
        GETDATE()
    );
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_DeleteUser]    Script Date: 24/12/2025 11:47:45 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_DeleteUser]
    @UserID INT,
    @DeletedBy INT,
    @IsDeleted BIT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    -- تحقق إن المستخدم موجود
    IF NOT EXISTS (SELECT 1 FROM Users WHERE UserID = @UserID)
    BEGIN
        SET @IsDeleted = 0;
        RETURN;
    END

    -- تحديث حالة الحذف بدل من حذف فعلي
    UPDATE Users
    SET isDeleted = 1
    WHERE UserID = @UserID;

    SET @IsDeleted = 1;

    -- تسجيل العملية في جدول Logs
    INSERT INTO Logs (ActionType, TableName, RecordID, UserID, ActionDate)
    VALUES (
        'SoftDeleteUser',
        'Users',
        @UserID,
        @DeletedBy,
        GETDATE()
    );
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAllCustomers]    Script Date: 24/12/2025 11:47:45 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_GetAllCustomers]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT Customers.CustomerID, Customers.Name, Customers.Phone, Customers.Address, Customers.CreatedAt, Users.Username AS CreatedByUsername
FROM     Customers INNER JOIN
                  Users ON Customers.CreatedBy = Users.UserID
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAllItems]    Script Date: 24/12/2025 11:47:45 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_GetAllItems]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        I.ItemID,              -- رقم الآيتم
        I.ItemName,            -- اسم الآيتم
        U.Username AS CreatedByUser, -- المستخدم اللي أنشأ الآيتم
        I.CreatedAt          -- تاريخ الإنشاء
    FROM Items AS I
    INNER JOIN Users AS U ON I.CreatedBy = U.UserID
    ORDER BY I.ItemName;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAllOrders]    Script Date: 24/12/2025 11:47:45 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_GetAllOrders]
AS
BEGIN
    SET NOCOUNT ON;

	SELECT Orders.OrderID, Customers.Name, Users.Username, Orders.OrderDate, Status.Statue, Orders.TotalAmount
	FROM     Customers INNER JOIN
					  Orders ON Customers.CustomerID = Orders.CustomerID INNER JOIN
					  Status ON Orders.Status = Status.StatueID INNER JOIN
					  Users ON Orders.CreatedBy = Users.UserID

END;
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAllUsers]    Script Date: 24/12/2025 11:47:45 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_GetAllUsers]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT Users.UserID, Users.Username, Users.Name, Users.Phone, Roles.RoleName, Users.CreatedAt, Users_1.Username AS CreatedByUser
	FROM     Users INNER JOIN
					  Roles ON Users.Role = Roles.RoleID INNER JOIN
					  Users AS Users_1 ON Users.CreatedBy = Users_1.UserID
    WHERE Users.isDeleted = 0   -- استبعاد المحذوفين
    ORDER BY Users.UserID;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_GetCustomerById]    Script Date: 24/12/2025 11:47:45 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_GetCustomerById]
    @CustomerID INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        C.CustomerID,
        C.Name,
        C.Phone,
        C.Address,
        C.CreatedAt,
        U.Username AS CreatedByUsername
    FROM Customers AS C
    INNER JOIN Users AS U ON C.CreatedBy = U.UserID
    WHERE C.CustomerID = @CustomerID;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_GetCustomerByName]    Script Date: 24/12/2025 11:47:45 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_GetCustomerByName]
    @Name NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        C.CustomerID,
        C.Name,
        C.Phone,
        C.Address,
        C.CreatedAt,
        U.Username AS CreatedByUsername
    FROM Customers AS C
    INNER JOIN Users AS U ON C.CreatedBy = U.UserID
    WHERE C.Name LIKE '%' + @Name + '%'
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_GetInvoiceWithDetails]    Script Date: 24/12/2025 11:47:45 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_GetInvoiceWithDetails]
    @InvoiceID INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        I.InvoiceID,
        I.OrderID,
        I.PaidAmount,
        I.PaymentDate,
        U.Username AS CreatedByUser
    FROM Invoices AS I
    INNER JOIN Users AS U ON I.CreatedBy = U.UserID
    WHERE I.InvoiceID = @InvoiceID;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_GetLogs]    Script Date: 24/12/2025 11:47:45 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_GetLogs]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        L.LogID,
        L.ActionType,
        L.TableName,
        L.RecordID,
        U.Username AS UserName,
        L.ActionDate
    FROM Logs AS L
    INNER JOIN Users AS U ON L.UserID = U.UserID
    ORDER BY L.ActionDate DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_GetOrderByID]    Script Date: 24/12/2025 11:47:45 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_GetOrderByID]
    @OrderID INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        O.OrderID,                -- رقم الأوردر
        C.Name       AS CustomerName,   -- اسم العميل
        U.Username   AS CreatedByUser,  -- المستخدم اللي أنشأ الأوردر
        O.OrderDate,               -- تاريخ الأوردر
        S.Statue     AS StatusName,     -- اسم الحالة
        O.TotalAmount              -- الإجمالي
    FROM Orders AS O
    INNER JOIN Customers AS C ON O.CustomerID = C.CustomerID
    INNER JOIN Status    AS S ON O.Status = S.StatueID
    INNER JOIN Users     AS U ON O.CreatedBy = U.UserID
    WHERE O.OrderID = @OrderID;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_GetOrderDetailByID]    Script Date: 24/12/2025 11:47:45 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_GetOrderDetailByID]
    @OrderDetailID INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        OD.DetailID,           -- رقم تفاصيل الأوردر
        OD.OrderID,                 -- رقم الأوردر المرتبط
        I.ItemName,                 -- اسم القطعة (من جدول Items)
        S.ServiceName,              -- اسم الخدمة (من جدول Services)
        OD.Quantity,                -- الكمية
        OD.PricePerItem,            -- السعر لكل قطعة
        OD.SubTotal                -- الإجمالي الجزئي
    FROM OrderDetails AS OD
    INNER JOIN Items    AS I ON OD.ItemID = I.ItemID
    INNER JOIN Service AS S ON OD.ServiceID = S.ServiceID
    WHERE OD.DetailID = @OrderDetailID;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_GetOrderDetailsByOrderID]    Script Date: 24/12/2025 11:47:45 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_GetOrderDetailsByOrderID]
    @OrderID INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        OD.DetailID,           -- رقم تفاصيل الأوردر
        OD.OrderID,                 -- رقم الأوردر
        I.ItemName,                 -- اسم القطعة (من جدول Items)
        S.ServiceName,              -- اسم الخدمة (من جدول Services)
        OD.Quantity,                -- الكمية
        OD.PricePerItem,            -- السعر لكل قطعة
        OD.SubTotal                -- الإجمالي الجزئي
    FROM OrderDetails AS OD
    INNER JOIN Items    AS I ON OD.ItemID = I.ItemID
    INNER JOIN Service AS S ON OD.ServiceID = S.ServiceID
    WHERE OD.OrderID = @OrderID
    ORDER BY OD.DetailID;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_GetOrdersByCustomerNotDelivered]    Script Date: 24/12/2025 11:47:45 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_GetOrdersByCustomerNotDelivered]
    @CustomerID INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        O.OrderID,
        C.Name       AS CustomerName,
        U.Username   AS CreatedByUser,
        O.OrderDate,
        S.Statue     AS StatusName,
        O.TotalAmount
    FROM Orders AS O
    INNER JOIN Customers AS C ON O.CustomerID = C.CustomerID
    INNER JOIN Status    AS S ON O.Status = S.StatueID
    INNER JOIN Users     AS U ON O.CreatedBy = U.UserID
    WHERE O.CustomerID = @CustomerID
      AND S.Statue <> 'Delivered'   -- الشرط: الحالة لا تكون Delivered
    ORDER BY O.OrderDate DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_GetOrderTotalByOrderID]    Script Date: 24/12/2025 11:47:45 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetOrderTotalByOrderID]
    @OrderID INT,
    @Total DECIMAL(18, 0) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT @Total = SUM(SubTotal)
    FROM OrderDetails
    WHERE OrderID = @OrderID;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetServicePrice]    Script Date: 24/12/2025 11:47:45 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_GetServicePrice]
    @ItemID INT,
    @ServiceID INT,
    @Price DECIMAL(18,2) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    -- البحث عن السعر
    SELECT TOP 1 @Price = Price
    FROM ServicePrice
    WHERE ItemID = @ItemID
      AND ServiceID = @ServiceID;

    -- لو مفيش نتيجة بيرجع NULL
    IF @Price IS NULL
        SET @Price = 0;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_GetTotalPaidByDay]    Script Date: 24/12/2025 11:47:45 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_GetTotalPaidByDay]
    @TargetDate DATE
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        ISNULL(SUM(PaidAmount), 0) AS TotalPaid
    FROM Invoices
    WHERE CAST(PaymentDate AS DATE) = @TargetDate;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_GetUserByID]    Script Date: 24/12/2025 11:47:45 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_GetUserByID]
    @UserID INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        U.UserID,
        U.Username,
        U.Name,
        U.Phone,
        R.RoleName,
        U.CreatedAt,
        U2.Username AS CreatedByUser
    FROM Users AS U
    INNER JOIN Roles AS R ON U.Role = R.RoleID
    INNER JOIN Users AS U2 ON U.CreatedBy = U2.UserID
    WHERE U.UserID = @UserID
	AND U.isDeleted = 0;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_LoginUser]    Script Date: 24/12/2025 11:47:45 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_LoginUser]
    @Username NVARCHAR(50),
    @PasswordHash NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        U.UserID,
        U.Username,
        U.Name,
        U.Phone,
        R.RoleName,
        U.CreatedAt,
        U2.Username AS CreatedByUser
    FROM Users AS U
    INNER JOIN Roles AS R ON U.Role = R.RoleID
    INNER JOIN Users AS U2 ON U.CreatedBy = U2.UserID
    WHERE U.Username = @Username
      AND U.PasswordHash = @PasswordHash
      AND U.isDeleted = 0; -- شرط أساسي: المستخدم غير محذوف
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateCustomer]    Script Date: 24/12/2025 11:47:45 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_UpdateCustomer]
    @CustomerID INT,
    @Name NVARCHAR(100),
    @Phone NVARCHAR(20) = NULL,
    @Address NVARCHAR(255) = NULL,
	@UpdatedBy INT,
    @IsUpdated BIT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (SELECT 1 FROM Customers WHERE CustomerID = @CustomerID)
    BEGIN
        SET @IsUpdated = 0;
        RETURN;
    END

    UPDATE Customers
    SET Name = @Name,
        Phone = @Phone,
        Address = @Address
    WHERE CustomerID = @CustomerID;

    SET @IsUpdated = 1;

	    -- تسجيل العملية في جدول Logs
    INSERT INTO Logs (ActionType, TableName, RecordID, UserID, ActionDate)
    VALUES ('UpdateCustomer', 'Customers', @CustomerID, @UpdatedBy, GETDATE());
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateOrderDetail]    Script Date: 24/12/2025 11:47:45 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_UpdateOrderDetail]
    @OrderDetailID INT,
    @ItemID INT,
    @ServiceID INT,
    @Quantity INT,
    @PricePerItem DECIMAL(18,2),
	@CreatedBy INT,
    @IsUpdated BIT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    -- تحقق إن تفاصيل الأوردر موجودة
    IF NOT EXISTS (SELECT 1 FROM OrderDetails WHERE DetailID = @OrderDetailID)
    BEGIN
        SET @IsUpdated = 0;
        RETURN;
    END

    -- تعديل تفاصيل الأوردر
    UPDATE OrderDetails
    SET ItemID      = @ItemID,
        ServiceID   = @ServiceID,
        Quantity    = @Quantity,
        PricePerItem= @PricePerItem,
        SubTotal    = @Quantity * @PricePerItem
    WHERE DetailID = @OrderDetailID;

    SET @IsUpdated = 1;

    -- تسجيل العملية في جدول Logs
    INSERT INTO Logs (ActionType, TableName, RecordID, UserID, ActionDate)
    VALUES (
        'UpdateOrderDetail',
        'OrderDetails',
        @OrderDetailID,
        @CreatedBy,
        GETDATE()
    );
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateOrderStatus]    Script Date: 24/12/2025 11:47:45 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_UpdateOrderStatus]
    @OrderID INT,
    @NewStatusID INT,
	@CreatedBy INT,
    @IsUpdated BIT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    -- تحقق إن الأوردر موجود
    IF NOT EXISTS (SELECT 1 FROM Orders WHERE OrderID = @OrderID)
    BEGIN
        SET @IsUpdated = 0;
        RETURN;
    END

    -- تعديل الحالة
    UPDATE Orders
    SET Status = @NewStatusID
    WHERE OrderID = @OrderID;

    SET @IsUpdated = 1;

    -- تسجيل العملية في جدول Logs
    INSERT INTO Logs (ActionType, TableName, RecordID, UserID, ActionDate)
    VALUES (
        'UpdateOrderStatus',
        'Orders',
        @OrderID,
        @CreatedBy,
        GETDATE()
    );
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateOrderTotalAmount]    Script Date: 24/12/2025 11:47:45 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_UpdateOrderTotalAmount]
    @OrderID INT,
    @NewTotalAmount DECIMAL(18,0),
	@CreatedBy INT,
    @IsUpdated BIT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    -- تحقق إن الأوردر موجود
    IF NOT EXISTS (SELECT 1 FROM Orders WHERE OrderID = @OrderID)
    BEGIN
        SET @IsUpdated = 0;
        RETURN;
    END

    -- تعديل الإجمالي
    UPDATE Orders
    SET TotalAmount = @NewTotalAmount
    WHERE OrderID = @OrderID;

    SET @IsUpdated = 1;

    -- تسجيل العملية في جدول Logs
    INSERT INTO Logs (ActionType, TableName, RecordID, UserID, ActionDate)
    VALUES (
        'UpdateOrderTotalAmount',
        'Orders',
        @OrderID,
        @CreatedBy,
        GETDATE()
    );
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateServicePrice]    Script Date: 24/12/2025 11:47:45 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_UpdateServicePrice]
    @ServicePriceID INT,
    @Price DECIMAL(18,0),
	@CreatedBy int
AS
BEGIN

    -- تنفيذ التعديل
    UPDATE ServicePrice
    SET Price = @Price,
        DateStart = GETDATE()
    WHERE ServicePriceID = @ServicePriceID;

    -- تسجيل العملية في جدول Logs
    INSERT INTO Logs (ActionType, TableName, RecordID, UserID, ActionDate)
    VALUES (
        'UpdateServicePrice',
        'ServicePrice',
        @ServicePriceID,
        @CreatedBy,
        GETDATE()
    );
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateUser]    Script Date: 24/12/2025 11:47:45 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_UpdateUser]
    @UserID INT,
    @Username NVARCHAR(50),
    @Name NVARCHAR(50),
    @Phone NVARCHAR(10),
    @PasswordHash NVARCHAR(100),
    @Role INT,
    @UpdatedBy INT,
    @IsUpdated BIT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    -- تحقق إن المستخدم موجود
    IF NOT EXISTS (SELECT 1 FROM Users WHERE UserID = @UserID)
    BEGIN
        SET @IsUpdated = 0;
        RETURN;
    END

    -- تعديل بيانات المستخدم
    UPDATE Users
    SET Username     = @Username,
        Name         = @Name,
        Phone        = @Phone,
        PasswordHash = @PasswordHash,
        Role         = @Role
    WHERE UserID = @UserID;

    SET @IsUpdated = 1;

    -- تسجيل العملية في جدول Logs
    INSERT INTO Logs (ActionType, TableName, RecordID, UserID, ActionDate)
    VALUES (
        'UpdateUser',
        'Users',
        @UserID,
        @UpdatedBy,
        GETDATE()
    );
END;
GO
USE [master]
GO
